// Colores
$blanco: #e0e0e0;
$azul: #607d8b;
$gris: #bdbdbd;
$marron: #795548;
$naranja: #ffb951;
$verde: #55c559;
$rojo_claro: #d42323;
$rojo: #aa0000;

// Fuentes
$fuentePrincipal: 'Afacad', sans-serif;
$fuenteSecundaria: 'Poppins', sans-serif;

// Media
$telefono: 480px;
$tablet: 850px;
$desktop: 992px;
$desktopXL: 1200px;